*.nc
wrfout*
wrfrst*
wrfdly*
wrfhr*
wrfbdy*
wrfinput*
wrflowinp*
wrfxtrm*
**/LIS_output
**/WRF_output
**/bdy_data
**/WRF_restart
**/out/
**/restart/
.DS_Store
._.DS_Store
.*.done
!checks_outputs/*.nc
